.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-device-width: 640px){
  .full-page { 
    width: 100vw; 
    height: calc(100vh - 90px);
  }
  .homepage, .about, .experience {
    width: 90% !important; 

  }
  .nav-bar-container { 
    width: 100vw; 
    justify-content: center;
  }

  nav li { 
    margin-left: 20px !important;
  }

  .logo { 
    width: 30px !important;
    margin-left: 40px !important;
    padding-top: 20px !important;
  }

  nav a { 
    font-size: 11px !important;
  }
  .about-text, .experience-text { 
    height: 65vh !important;
  }
  .me-pic { 
    display: none;
  }
  .border-image { 
    display: none;
  }
  .exp-text { 
    line-height: normal !important;
  }

  .experience-block-1, .experience-block-2, .experience-block-3, .experience-block-4,
  .experience-block-5, .experience-block-6, .experience-block-7 {
  width: 100% !important;
  }

  .footer-block { 
    width: 100%; 
    text-align: center !important;
    padding-right: 0 !important;
  }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 800px){
  .homepage { 
    width: 80% !important;
  }
  .logo { 
    width: 40px !important;
    padding-top: 15px !important;
  }
  .about, .experience { 
    width: 90% !important;
  }

  .me-pic { 
    width: 200px;
  }
  .exp-text { 
    line-height: 60% !important;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
 /*  background-image: url(./assets/whitepng.png); */
  font-family: 'Jost';
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px; 
  line-height: 44px;
  font-weight: bold;
}




h2 { 
  font-size: 40px;
  font-family: 'Display';
  font-weight: 500;
  
}

h3 { 
  font-size: 12px;
  font-weight: 400;
  font-family: 'Jost';
}

h4 { 
  font-size: 26px; 
  font-weight: lighter;
  font-family: 'Bebas';
  padding: 0px;

}

h5 { 
  font-size: 22px; 
  font-weight: 400;
  line-height: normal;

}

p {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Jost';
}

a { 
  color: black; 
  text-decoration: underline;
}

a:hover {
   color: rgb(82, 117, 163);
}

.heading {
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  left: 25px;

}


header {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-bar-container {
  width: 90%;
  margin: 0 auto;
  position: fixed;
  z-index: 5;
}



.logo:hover {
  opacity: 0.70;
}

nav {
  float: right;
  position: sticky;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2mm;
  font-family: 'Jost';
  color: rgb(0, 0, 0)
}

nav a:hover {
  color: rgb(255, 255, 255);

}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.footer {
  font-weight: lighter;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 0;
  bottom: 0;
}

.homepage { 
  display: block; 
  width: 40%;
  border: 2px solid black; 
  border-radius: 20px;
  box-shadow: 5px 5px;
  text-align: center;
  justify-content: center;
  background-color: rgb(248, 237, 198);
}

.about { 
  width: 70%;
  height: 75vh;
  display: block; 
  border: 2px solid black; 
  border-radius: 20px;
  box-shadow: 5px 5px;
  text-align: center;
  justify-content: center;
  background-color: rgb(241, 238, 228);

}

.experience { 
  width: 70%;
  height: 75vh;
  display: block; 
  border: 2px solid black; 
  border-radius: 20px;
  box-shadow: 5px 5px;
  text-align: center;
  justify-content: center;
  background-color: rgb(241, 238, 228);

}

.experience-text { 
 /* width: 95.5%; */
  height: 66vh;
  justify-content: center;
  text-align: left;
  padding-left: 40px;
  overflow-y: scroll;
}

.exp-text { 
  text-align: left;
  margin-left: 20px;
  padding-top: 0.1px;
  padding-bottom: 5px;
  padding-right: 10px;
  line-height: 60%;

 
}

.experience-description { 
  padding-right: 40px;
}

.experience-block-1, .experience-block-2, .experience-block-3, .experience-block-4,
.experience-block-5, .experience-block-6, .experience-block-7 { 
  width: 94%; 
  /* background-color: rgb(235, 212, 212); */
  background-color: rgb(190, 201, 216); 

}

.about-text {
/*  width: 96%; */
  height: 65vh;
  justify-content: center;
  text-align: left;
  padding-left: 40px;
  overflow-y: scroll;
}

.homepage-text {
  justify-content: center;
  text-align: left;
  padding-left: 40px;
  overflow-y: auto;
  padding-right: 20px;
}

.svg-line { 
  stroke-width: 4px;
}

.buttons { 
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact-button { 
  margin-left: 20px;
  padding-top: 13px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  opacity: 0.6;

}

.exit-button:hover {
  opacity: 0.5;

}

.exit-button {
  cursor: pointer;
}


.full-page {
  background-image: url(./assets/whitepng.png); 
  background-size: cover;
  height: 100vh; 
  width: 100%;
  background-repeat: repeat;
}

.appear-div { 
  height: 100vh;
  width: 100%;
}

.me-pic {
  vertical-align: middle;
}

.about-me-description {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
  justify-content: center;
}

.logo {
  width: 50px;
  margin-left: 70px;
  padding-top: 10px;
}

.dropdown:hover {

  color: rgb(82, 117, 163);
}

.dropdown { 
  float: right; 
  padding-top: 15px;
  padding-right: 10px; 
  font-size: 18px;
}

.footer-block { 
  position: absolute;
  right: 0; 
  bottom: 0; 
  font-family: 'Jost';
  padding: 10px;
  padding-right: 20px;
  font-size: 12px;
}

.title-text { 
  font-size: 30px; 
  font-weight: 550; 
  display: block;
  line-height: 80%;
}

.wireframe { 
  padding: 20px; 
  width: 200px; 

}

.wireframes { 
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.link { 
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  color: white;
  background-color: rgb(228, 200, 200); 
  border-radius: 30px;
  font-family: 'Jost';
  float: right;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.link:hover { 
  color: white;
  background-color: rgb(228, 210, 210); 
}

.body::-webkit-scrollbar { 
  display: none;
}

::-webkit-scrollbar { 
  width: 9px; 
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer; 
  border-radius: 15px; 
  background: rgb(228, 210, 210); 
}
::-webkit-scrollbar-track {
  background: transparent;
}

.project-links { 
  margin-top: 15px;
}