.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Work Sans';
  color: rgb(0, 0, 0);
  font-size: 14px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0;
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px; 
  line-height: 44px;
  font-weight: bold;
}




h2 { 
  font-size: 40px;
  font-family: 'Abril';
  font-weight: lighter;
  
}

h3 { 
  font-size: 16px;
  font-weight: 300px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h4 { 
  font-size: 14px; 
  font-weight: lighter;
  line-height: normal;

}

h5 { 
  font-size: 20px; 
  font-weight: 500;
  line-height: normal;

}

p {
  font-size: 16px;
  font-weight: normal;
  font-family: 'WorkSans';
}

a { 
  color: black; 
   text-decoration: none;
}



a:hover {
   color: rgb(101, 128, 219);
}

.title-pic { 
   padding-top: 30px;
   width: 600px; 
   height: 230px;
}
.heading {
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  left: 25px;

}

div {
  position: relative;
  border: 1px none #000;
  border-radius: 0px;
}

.image1 {
  position: relative;
  width: 567px;
  height: 156px;
  
}

.about-me {
  position: relative;
  top: 40px;
  width: 320px;
  height: 122px;

}

.purple-pic { 
  width: 320px;
  height: 291px;
  float: left; 
  margin-left: 20px;
  margin-right: 10px;
}


.elections-pic { 
  padding-top: 50px;
  width: 800px; 
  height: 205px; 
  position: relative;
  padding-bottom: 20px;
}

.open-house-pic { 
  width: 800px;
  height: 273px;
  position: relative;
  padding-bottom: 20px;
}
.dc-pic, .tutor-pic, .team-pic { 
  width: 800px; 
  height: 273px; 
  position: relative;
  padding-bottom: 20px; 
}

.title-side { 
  width: 130px;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 75px;
}

.title-side:hover {
  opacity: 0.7;
  }

header {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-bar-container {
  width: 90%;
  margin: 0 auto;
  position: fixed;
  z-index: 5;
}

.logo {
  float: left;
  padding: 10px 0;
  width: 130px;
  height: 50px;
}

.logo:hover {
  opacity: 0.70;
}

nav {
  float: right;
  position: sticky;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2mm;
  font-family: 'WorkSans';
  color: rgb(172, 172, 172)
}

nav a:hover {
  color: rgb(101, 128, 219);

}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color:  rgb(101, 128, 219);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.footer {
  font-weight: lighter;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 0;
  bottom: 0;
}

.homepage { 
  width: 600px;
  display: block; 
  border: 1px solid black; 
  border-radius: 20px;
  box-shadow: 7px 7px;
  text-align: center;
  justify-content: center;
  background-color: rgb(247, 227, 162);
}

.about { 
  width: 800px;
  height: 550px;
  display: block; 
  border: 1px solid black; 
  border-radius: 20px;
  box-shadow: 7px 7px;
  text-align: center;
  justify-content: center;
  background-color: rgb(192, 211, 228);

}

.experience { 
  width: 800px;
  height: 550px;
  display: block; 
  border: 1px solid black; 
  border-radius: 20px;
  box-shadow: 7px 7px;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 212, 163);

}

.experience-text { 
  width: 760px;
  height: 480px;
  justify-content: center;
  text-align: left;
  padding-left: 40px;

}

.about-text {
  width: 760px;
  height: 480px;
  justify-content: center;
  text-align: left;
  padding-left: 40px;
 
 
}

.homepage-text {
  
  justify-content: center;
  text-align: left;
  padding-left: 40px;
  overflow-y: auto;
}

.svg-line { 
  stroke-width: 3px;
}
.buttons { 
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;

}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact-button { 
  margin-left: 30px;
  padding-top: 15px
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgb(101, 128, 219);

}

.exit-button:hover {
  opacity: 0.5;
}

.exit-button {
  cursor: pointer;
}


.full-page {
  background-image: url(./assets/geometric.png);
  min-height: 900px;
  width: 100%;
  background-repeat: repeat;
}

.appear-div { 
  min-width: 1000px;
  min-height: 900px;
}

.scrollbar{ 
  color: white;
 
}

.me-pic {
  vertical-align: middle;
}

.about-me-description {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
}